:root{
    --color_white: rgba(255, 255, 255, 1);
    --color_blue: rgba(36, 59, 147, 1);
    --color_lightblue: rgba(191, 240, 255, 1);
    font-size: 10px;
}
body{
    margin: 0 auto;
    background-color: rgba(251, 228, 255, 1);
    max-width: 100%;
    min-width: 962px;
}
div, p, h1, h4{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 65px;
    margin: 0;
    color: var(--color_white);
    background: var(--color_blue);
    display: flex;
    position: fixed;
    top: 0px;
    z-index: 1;
}
.header :first-child{
    width: 140px;
    height: 50px;
    margin-left: 15%;
    margin-top: 3px;
}
.header div:nth-child(2) {
    margin-left: 10%;
}
.header :last-child{
    width: 140px;
    height: 50px;
    margin-left: auto;
    margin-right: 10%;
    margin-top: 3px;
}
.navigation{
    width: 10%;
}
.navigation a{
    width: 100%;
    text-decoration: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.navigation a:hover{
    transform: scale(1.2);
}
.header2{
    width: 100%;
    height: 85px;
    background-color: var(--color_lightblue);
    margin-top: 45px;
}
.header2 a{
    width: 469px;
    height: 57px;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 4.4rem;
    line-height: 2;
    align-items: center;
    color: #202846;
    text-decoration: none;
    margin-left: 15%;
}
.main_title{
    width: 1321px;
    height: 57px;
    margin: 30px auto;
    background: #FFFFFF;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 2;
    color: rgba(0, 0, 0, 0.61);
    text-align: center;
}
.card{
    width: 1321px;
    height: 300px;
    margin: 0 auto 42px;
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    display: flex;
    position: relative;
}
.card_img{
    width: 447px;
    height: 246px;
    margin-top: 33px;
    margin-bottom: 21px;
    margin-left: 52px;
    margin-right: 30px;
}
.card_img:hover img{
    transform: scale(1.1);
}
.card_info h4{
    width: 739px;
    margin: 14px 0 10px;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 3.6rem;
    color: rgba(53, 60, 87, 1);
    border-bottom: 3px solid rgba(255, 255, 255, 1);   
}
.card_info div{
    padding-top: 10px;
    padding-left: 16px;
    width: 739px;
    height: 205px;
    background: rgba(237, 251, 255, 1);
    box-sizing: border-box;
}
.card_info p{
    width: 650px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    color: #202846;
}
.star{
    background-image: url(../img/star.svg);
    width: 48px;
    height: 46px;
    position: absolute;
    top: 6px;
    right: 10px;
}
.button{
    display: block;
    width: 210px;
    height: 46px;
    background: rgba(36, 59, 147, 1);
    border-radius: 30px;
    position: absolute;
    top: 245px;
    right: -30px;
}
.button a{
    display: block;
    width: 210px;
    height: 46px;
    text-align: center;
    text-decoration: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.6;
    color: var(--color_white);
}
.card:hover{
    background: rgba(44, 189, 235, 1);
    box-shadow: 0px 0px 60px 4px rgba(44, 189, 235, 1);
}
.card:hover>.button{
    background: rgba(239, 7, 91, 1);
}
.button:hover{
    transform: scale(1.1);
}
.card:hover>.star{
    background-image: url(../img/star_yellow.svg);
}
.button_up{
    display: block;
    background-image: url(../img/button_up.svg);
    width: 101px;
    height: 101px;
    position: fixed;
    top: 85%;
    right: 10%;
}
.button_up:hover{
    background-image: url(../img/button_up.svg);
    transform: scale(1.1);
}   



